@model IEnumerable<BehinFlex.Models.ProductGroup>

@{
    ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
}

<h2>@ViewBag.Title</h2>
<div class="k-rtl">
    @(Html.Kendo().Grid(Model)
          .Name("Grid")
          .Columns(columns =>
          {
              columns.Bound(model => model.ProductBrand.ProductBrandTitle);
              columns.Bound(model => model.ProductGroupTitle);
              columns.Bound(item => @item.ProductGroupID).Title("دستورات").Filterable(false).Groupable(false)
                  .Template(@<text>
                                @Html.ActionLink("ویرایش", "Edit", new { id = @item.ProductGroupID }, new { @class = "k-button k-button-icontext k-grid-Edit" })
                                @Html.ActionLink("حذف", "Delete", new { id = @item.ProductGroupID }, new { @class = "k-button k-button-icontext k-grid-Delete" })
                             </text>).Width(200);
          })
          .ToolBar(toolbar =>
          {
              toolbar.Custom().Action("Create", "ProductGroups").Text("افزودن");
          }
          )
          .Groupable()
          .Pageable()
          .Sortable()
          .Scrollable(scrollable => scrollable.Height("auto"))
          .Filterable()
          .DataSource(dataSource => dataSource
              .Server()
              .PageSize(10)
              .Model(model => model.Id(item => item.ProductGroupID))
          )
          )
</div>
@section Script
{
}
