@model IEnumerable<BehinFlex.Models.OrganizationChart>


@{
    ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
}

<h2>@ViewBag.Title</h2>

<div class="k-rtl">
    @(Html.Kendo().Grid(Model)
          .Name("Grid")
          .Columns(columns =>
          {
              columns.Bound(model => model.OrgChartPost);
              columns.Bound(model => model.OrgChartFullName);
              columns.Bound(model => model.OrgChartPhone);
              columns.Bound(model => model.OrgChartEmail);
              columns.Bound(model => model.OrgChartTelegramID);
              columns.Bound(item => @item.OrgChartID).Title("دستورات").Filterable(false).Groupable(false)
                  .Template(@<text>
                                @Html.ActionLink("ویرایش", "Edit", new { id = @item.OrgChartID}, new { @class = "k-button k-button-icontext k-grid-Edit" })
                                @Html.ActionLink("حذف", "Delete", new { id = @item.OrgChartID }, new { @class = "k-button k-button-icontext k-grid-Delete" })
                             </text>).Width(200);
          })
          .ToolBar(toolbar =>
          {
              toolbar.Custom().Action("Create", "OrganizationCharts").Text("افزودن");
          }
          )
          .Groupable()
          .Pageable()
          .Sortable()
          .Scrollable(scrollable => scrollable.Height("auto"))
          .Filterable()
          .DataSource(dataSource => dataSource
              .Server()
              .PageSize(10)
              .Model(model => model.Id(item => item.OrgChartID))
          )
          )

</div> 