@model IEnumerable<BehinFlex.Models.OrderDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumWithDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.ProductTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumWithDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.ProductTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetailId })
        </td>
    </tr>
}

</table>
