@model BehinFlex.Models.Images

@{
    ViewBag.Title = "حذف " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
}

<h2>@ViewBag.Title</h2>

<h3>آیا از حذف این مورد اطمینان دارید؟</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img src="/ImageGallery/Thumb/@Model.ImageUrl" class="thumbnail" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>

    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group" id="buttons">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="تایید حذف" class="btn btn-primary" />
            @Html.ActionLink("بازگشت به فهرست", "Index")
        </div>
    </div>
}
</div>
