@model BehinFlex.Models.Products

@{
    ViewBag.Title = "حذف " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
}

<h2>@ViewBag.Title</h2>

<h3>آیا از حذف این مورد اطمینان دارید؟</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTitle)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>*@
        
        @*<dt>
            @Html.DisplayNameFor(model => model.ProductBrand.ProductBrandTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductBrand.ProductBrandTitle)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ProductSubGroup.ProductSubGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSubGroup.ProductSubGroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImageUrl)

        </dt>

        <dd>
            
            <img src="/ProductImages/Thumb/@Model.ProductImageUrl" class="thumbnail" />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>*@

      

    </dl>
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="تایید حذف" class="btn btn-primary" />
                @Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    
    }
</div>


