@model IEnumerable<BehinFlex.Models.News>

@{
    ViewBag.Title = "اخبار";

}


<div class="row" >
    <!--main content-->
    <div class="col-md-12"  dir="rtl">
        <div class="page-header">
            <h2 style="font-family:'Times New Roman'">
                اخبار
                <small>خبرهایی از رخدادهای اخیر کاری</small>
            </h2>
        </div>
       
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="media">
                    <div class="media-right hidden-xs">
                        <!-- Date desktop -->
                        <div class="date-wrapper"> <span class="date-m">@item.CreateDate.ToString("MMMM")</span> <span class="date-d"> @item.CreateDate.ToString("dd") </span>
                        </div>
                    </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="padding-right: 10px;">
                                    <a href="/Newss/ShowNewsDetail/@item.NewsID" class="text-weight-strong">@item.NewsTitle </a>
                                </h4>
                                <!-- Meta details mobile -->
                                <ul class="list-inline meta text-muted visible-xs">
                                    <li><i class="fa fa-calendar"></i> <span class="visible-md"></span>@item.CreateDate.ToString("D") </li>
                                </ul>
                                <p >
                                    <div style="padding-right: 10px;">
                                        @(item.NewsDescription.Length >= 250 ? Html.Raw(item.NewsDescription.Substring(0, 250) + "...") : Html.Raw(item.NewsDescription))
                                    </div>

                                    <div class="col-md-3 col-md-offset-9"><a href="/Newss/ShowNewsDetail/@item.NewsID"> بیشتر بدانید <i class="fa fa-angle-double-left"></i></a>
                                    </div>
                                    @if (item.IsSeminar)
                                    {
                                        <div class="col-md-3 col-md-offset-9"><a href="/Newss/ParticipantForm/@item.NewsID"> شرکت در سمینار <i class="fa fa-angle-double-left"></i></a>
                                        </div>
                                    }
                                </p>
                            </div>
                        </div>
        
                    </div>
                }
               
          
    </div>
                       
</div>