@model BehinFlex.Models.ProductViewModel
@{
    ViewBag.Title = "ShowProductByBrand";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row" style="height:100%">
    <!--main content-->
    <!-- sidebar -->
    <div class="col-md-3 sidebar visible-md-block visible-lg-block" dir="rtl">
        <ul class="nav nav-stackedt ">
            <li class="active">
                <a href="#" class="first">
                    @Model.Product.ProductSubGroup.ProductGroup.ProductBrand.ProductBrandTitle
                </a>
            </li>
            @foreach (var item in Model.IEProductGroup)
            {
                <li>
                    @if (item.ProductSubGroup.Any(p => p.Products.Any()))
                    {
                        <a href="~/Product/ShowProductByHeadGroup/@item.ProductGroupID">
                            @item.ProductGroupTitle
                        </a>
                    }
                    else
                    {
                        <a href="#">
                            @item.ProductGroupTitle
                        </a>
                    }
                </li>
            }
        </ul>
    </div>

    <div class="col-md-9" style="min-height:72%;" dir="rtl">
        <div class="page-header">
            <h2 style="color:#01747b;">
                @Model.Product.ProductSubGroup.ProductGroup.ProductBrand.ProductBrandTitle
            </h2>
        </div>

        <div class="row ">
            <div>
                <div id="snackbar" style="display: none;min-width: 250px;margin-left: -125px;background-color: gray;color: #fff;
     text-align: center; border-radius: 10px;padding: 16px;position: fixed;z-index: 1; left: 50%; bottom: 400px;font-size: 15px;">
                    پیش فاکتور به روزرسانی شد
                </div>

                <ul class="list-inline user-menu pull-left "
                    style="position:fixed; z-index: 2; left: 175px; height:30px; border-radius: 4px;color: #fff; border:solid; border-color:#018990; background-color:lightblue">
                    <li><i class="fa fa-credit-card text-primary"></i></li>
                    <li>
                        <div id="TotalSum" class="text-weight-strong" style="color:black"> جمع کل : <span id="OrderTotal">0</span> ریال</div>
                    </li>
                    <li><i class="fa fa-credit-card text-primary"></i></li>
                    <li>
                        <div id="TotalSumWithDiscount" class="text-weight-strong" style="color:black">  جمع کل با تخفیف : <span id="OrderGrandTotal">0</span> ریال</div>
                    </li>
                </ul>
            </div>
            <br />
            <br />
            @Html.Partial("_ProductsList", Model)
        </div>
    </div>
</div>

@section Script
{
    <script src="~/scripts/jQuery_3.5.1/jquery-3.5.1.min.js"></script>
    <script src="~/scripts/_OrderFromShowProducts.js"></script>
}

